@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family:
      "Noto Serif Japanese",
      SF Pro,
      ui-sans-serif,
      system-ui,
      Arial,
      sans-serif;
  }
}

.auction-card {
  width: 20rem;
  height: 26rem;
}
