@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family:
      "Noto Serif Japanese",
      SF Pro,
      ui-sans-serif,
      system-ui,
      Arial,
      sans-serif;
  }
}

.auction-card {
  width: 100%;
  height: 100%;
}

.background-img {
  background-image: url("../../public/images/Rectangle 18.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
}
