@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family:
      "EB Garamond",
      serif,
      SF Pro,
      ui-sans-serif,
      system-ui,
      Arial,
      sans-serif;
    scroll-behavior: smooth;
    /* background-image: url("https://images.unsplash.com/photo-1566041510632-30055e21a9cf?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); */
    /* background-image: url("https://images.unsplash.com/photo-1543857778-c4a1a3e0b2eb?q=80&w=2020&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); */
    /* background-image: url("https://images.unsplash.com/photo-1615800098779-1be32e60cca3?q=80&w=2020&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); */
    background-image: url("https://images.unsplash.com/photo-1615799998603-7c6270a45196?q=80&w=2008&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
  }
}

.text-2xl {
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}

.space {
  display: inline-block;
  width: 0.3em; /* Adjust the space width as needed */
}

.word {
  display: inline-block;
  opacity: 0;
  animation: appear 1s forwards;
}

@keyframes appear {
  to {
    opacity: 1;
  }
}

.auction-card {
  width: 100%;
  height: 100%;
}

.background-img {
  background-image: url("../../public/images/Rectangle 18.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
}

.scaled-image {
  animation: scaleAnimation 50s infinite;
  width: 100%;
  height: 40rem;
}

@keyframes scaleAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.mix-blend {
  mix-blend-mode: darken;
}

.offset {
  margin-top: -8rem;
  position: relative;
}
